{
    behaviors {
        hyper: hyper {
            compatible = "zmk,behavior-mod-morph";
            bindings = <
                &kp LEFT_CTRL
                &kp LEFT_SHIFT
                &kp LEFT_ALT
                &kp LEFT_GUI
            >;
            #binding-cells = <0>;
        };
    };
};
